/node_modules/
npm-debug.log
/typings/*
/dist/*
/.idea
*.map
*Component.js
*Model.js
*Service.js
/src/libs/*
/src/assets/fonts/*
bundle.css
/src/primeng
/src/assets/images/*
/src/**/*.spec.js
/coverage/*

