
@import "../../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything;

body {
  color: red;
  background-color: #efefef;
  border: 1px solid black;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.router-link-active {
  @extend .is-active;
  font-weight: bold;
}

.ab-spinning {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.site-header {

  margin-bottom: 1em;
  img {
    width: 400px;
  }
}

@import "../../../node_modules/font-awesome/scss/font-awesome";
