
@import "../../../node_modules/foundation-sites/scss/foundation";
@include foundation-everything;

body {
  color: orangered;
  background-color: #efefef;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.ab-spinning {
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.ab-site-header {
  margin-bottom: 1em;
  img {
    width: 400px;
  }
}

.ab-sub-menu {
  background-color:#e6e6e6;
  padding-top:5px;
  font-weight: 300;

  .router-link-active {
    background-color:#fefefe;
    font-weight: 500;
  }
}

.ab-main {
  background-color:#fefefe;
  padding:1em;
  min-height:12em;
}

.ab-news-list {
  margin-left: 0;

  li {
    list-style-type: none;
    background-color: #f7f7f7;
    margin: 1em 0;
    border-radius: 5px;
    padding: 1em;
    color: orangered;

    .ab-title {
      text-transform: capitalize;
      color: orange;
    }

    p:first-letter {
      text-transform: capitalize;
      font-size: 1.2em;
      font-weight:700;
    }
  }

  li:first-child {
    margin-top: 0;
  }
}

.ab-doc-list {

  .callout {
    margin: 1em;
  }
}

.tabs.ab-main-nav {

  .tabs-title {
    a {
      font-size: 1em;
      position: relative;

      .ab-close-button {
        position: absolute;
        right: 0.2em;
        top: 0.2em;
        padding: 0.2em 0.3em;

        &:hover {
          font-weight: bolder;
          color: #0045ba;
        }
      }
    }
  }
}

.ab-vertical-tabs>.columns>.vertical {
  min-height: 10em;
}

.ab-vertical-content {
  padding: 1em;
  background-color: #e6e6e6;
  min-height: 10em;

  table {
    caption {
      margin-top: 0;
    }
  }
}

article.ab-content {
  background-color: #fefefe;
  margin: 0 1px;
  padding: 2em;
}

.ab-list {

  margin-left: 0;

  li {
    list-style-type: none;
    padding: 1em;
    font-size: 1.2em;
    background-color: #efefef;
  }

  a:hover {
    color:orangered;
    font-weight: bolder;
  }
}

.router-link-active {
  @extend .is-active;
  font-weight: bold;
}

li.callout {
  list-style-type: none;
  padding-left: 2em;
}


.ab-type-ahead-list {
  position: absolute;
  left: 0;
  width: 100%;
  background-color: #fefefe;
  margin: -1em 0 0 0;
  border-left: 5px solid red;

  li {
    list-style-type: none;
    padding: 0.5em;
    cursor: pointer;

    &:hover {
      background-color: #eee;
      color: blue;
    }
  }
}
@import "../../../node_modules/font-awesome/scss/font-awesome";
