
<ul class="tabs" data-tabs="2symo4-tabs" id="example-tabs">
    <li class="tabs-title" role="presentation"><a href="#panel1" aria-selected="false" role="tab" aria-controls="panel1" id="panel1-label">Tab 1</a></li>
    <li class="tabs-title" role="presentation"><a href="#panel2" role="tab" aria-controls="panel2" aria-selected="false" id="panel2-label">Tab 2</a></li>
    <li class="tabs-title is-active" role="presentation"><a href="#panel3" role="tab" aria-controls="panel3" aria-selected="true" id="panel3-label">Tab 3</a></li>
    <li class="tabs-title" role="presentation"><a href="#panel4" role="tab" aria-controls="panel4" aria-selected="false" id="panel4-label">Tab 4</a></li>
    <li class="tabs-title" role="presentation"><a href="#panel5" role="tab" aria-controls="panel5" aria-selected="false" id="panel5-label">Tab 5</a></li>
    <li class="tabs-title" role="presentation"><a href="#panel6" role="tab" aria-controls="panel6" aria-selected="false" id="panel6-label">Tab 6</a></li>
</ul>


<div class="tabs-content" data-tabs-content="example-tabs">
    <div class="tabs-panel" id="panel1" role="tabpanel" aria-hidden="true" aria-labelledby="panel1-label">
        <p>one</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel2" role="tabpanel" aria-hidden="true" aria-labelledby="panel2-label">
        <p>two</p>
        <img class="thumbnail" src="assets/img/generic/rectangle-7.jpg">
    </div>
    <div class="tabs-panel is-active" id="panel3" role="tabpanel" aria-hidden="false" aria-labelledby="panel3-label">
        <p>three</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel4" role="tabpanel" aria-hidden="true" aria-labelledby="panel4-label">
        <p>four</p>
        <img class="thumbnail" src="assets/img/generic/rectangle-2.jpg">
    </div>
    <div class="tabs-panel" id="panel5" role="tabpanel" aria-hidden="true" aria-labelledby="panel5-label">
        <p>five</p>
        <p>Check me out! I'm a super cool Tab panel with text content!</p>
    </div>
    <div class="tabs-panel" id="panel6" role="tabpanel" aria-hidden="true" aria-labelledby="panel6-label">
        <p>six</p>
        <img class="thumbnail" src="assets/img/generic/rectangle-8.jpg">
    </div>
</div>


<!--<div class="tabs-content" data-tabs-content="example-tabs">-->
    <!--<div class="tabs-panel is-active" id="panel1">-->
        <!--<h2>{{message}} {{counter}}</h2>-->
        <!--<button (click)="incrementCounter()">Increment</button>-->
        <!--<p>Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>-->
    <!--</div>-->
    <!--<div class="tabs-panel" id="panel2">-->
        <!--<p>Suspendisse dictum feugiat nisl ut dapibus.  Vivamus hendrerit arcu sed erat molestie vehicula. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor.  Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor.</p>-->
    <!--</div>-->
<!--</div>-->
